# ─────────────────────────────────────────────
#  .env.example — Kredensial Docker Compose
#  Salin file ini ke .env dan sesuaikan nilainya
# ─────────────────────────────────────────────

# Airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_FERNET_KEY=FB0o_zt4e3Ziq3LdUUO7F2Z95cvFFx16hU8jTeR1ASM=
AIRFLOW_SECRET_KEY=sawit-riau-secret-change-in-prod
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# PostGIS DWH
DWH_USER=dwh
DWH_PASSWORD=dwh
DWH_DB=sawit_dwh

# MySQL OLTP (Perusahaan A & B)
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=a-01-kampar
MYSQL_USER=pks_user
MYSQL_PASSWORD=pks_pass

# PostgreSQL OLTP (Perusahaan C & D)
OLTP_PG_USER=oltp_user
OLTP_PG_PASSWORD=oltp_pass
OLTP_PG_DB=oltp_db

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

# pgAdmin (GUI untuk PostGIS DWH)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
